.sticker {
  aspect-ratio: 1;
  background-color: var(--color-deep-carmine);
  box-shadow: 0px 3px 4px hsl(0 0% 0% / 0.29);
  font-family: var(--font-headlines);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .125em;
  text-align: center;
  border-radius: 50%;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  transform: rotate(6deg);
  padding: .5em;

  & > .sub {
    font-size: .6em;
  }
}
