<!doctype html>
<html lang="{{ locale }}" data-country="{{ country }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="generator" content="{{ eleventy.generator }}">
        <title>{{ title if title else "A1 Travelinsurance - powered by L'amie" | translate(locale) }}</title>
        <link rel="stylesheet" href="{{  assetsPrefix + 'css/style.css' }}">
        {%- if stylesheets -%}
            {%- for stylesheet in stylesheets -%}
                <link rel="stylesheet" href="{{ assetsPrefix + 'css/' + stylesheet }}">
            {%- endfor -%}
        {%- endif -%}
        {%- if webfonts -%}
            <link rel="stylesheet" media="print" onload="this.media='all'" href="{{ assetsPrefix + 'css/' + webfonts }}">
        {%- endif -%}
        {%- if base %}
            <base href="{{ base | url }}">
        {%- endif -%}
    </head>
    <body class="site {{ bodyClass }}">
        {{ content | safe }}
    </body>
</html>
