API_URL="http://localhost:3000" # this is where your base API url goes
LOCAL=false # local or remote
PRINT_TRANSLATIONS=false # print the translations into the translation files
ACCESS_TOKEN_USERNAME_SRB=""
ACCESS_TOKEN_PASSWORD_SRB=""
SUBSCRIPTION_KEY_SRB=""
ACCESS_TOKEN_USERNAME_HRV=""
ACCESS_TOKEN_PASSWORD_HRV=""
SUBSCRIPTION_KEY_HRV=""
ACCESS_TOKEN_USERNAME_AUT=""
ACCESS_TOKEN_PASSWORD_AUT=""
SUBSCRIPTION_KEY_AUT=""
CLIENT_ID=""
CLIENT_SECRET=""
ASMP_URL=""
